@media (min-width: 1024px) {
  .container {
    width: 1024px
  }
}

.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
  color: #777;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  font-weight: bold;
  color: #777;
  border-color: #e7e7e7;
  background-color: #e7e7e7;
}

.jumbotron {
  margin-top: -20px;
}